<!Doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> <h2> Tiny App .0.0.1 </title></h2></title>
  </head>
  <body>
    <%= err %><br><br>  
    <p>Already with an existing account ? <a href = "/login">here to Login</a></p>
    <p>Need an account ? Click <a href = "/register">here to register </a> </p>
  </body>
</html>